[submodule "libretrodroid/src/main/cpp/rcheevos"]
	path = libretrodroid/src/main/cpp/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "sigil"]
	path = sigil
	url = https://github.com/rommapp/argosy-sigil.git
